.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--ion-card-background);
  padding: 12px;
  border-radius: 16px;
  margin: 0 4px 16px 4px;
  flex-grow: 1;
}

.noteContainer {
  padding-bottom: 8px;
}

.dateText {
  color: gray;
  font-size: small;
}
